:root{
    --primary-text-color: #000000;
    --second-text-color: #FFFFFF;
    --third-text-color: #FF5C00;
    --fourth-text-color: #808080;
    --placeholder-text-color: #A5A5A5;
    --date-text-color: #585858;
}
