<section>
        <div class="container">
          <h2>100% ГАРАНТИЯ КАЧЕСТВА</h2>
          <h2>Почему МЫ?</h2>
          <ul>
            <li>Работаем без выходных и праздников</li>
            <li>Отличные цены за ремонт в Москве</li>
            <li>Мы устанавливаем только оригинальные запчасти</li>
            <li>Принимаем в ремонт все модели и устраняем
            неисправности любой сложности</li>
          </ul>
          <h2>Сервисный центр «Moscowqual» предоставляет клиентам сразу две гарантии:</h2>
          <ul>
            <li> 
              <svg></svg> 
             <p>Гарантия на ремонт до 2-х лет</p></li>
            <li>
              <svg></svg>
             <p>  Гарантия на запчасти до 2-х лет</p>
            </li>
          </ul>
        </div>
      </section>