<section class="header">
  <div class="container">
    <header class="header-container">
      <a href="/" class="header-logo-link">
        <svg class="header-logo">
          <use href="./images/icons/sprite.svg#icon-header-logo"></use>
        </svg>
        <span class="header-logo-text"
          >Moscowqual <br />
          Ремонт бытовой техники</span
        >
      </a>
      <ul class="header-social-list">
        <li class="header-social-list-item">
          <a href="#">
            <svg class="social-icon">
              <use href="./images/icons/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-list-item">
          <a href="#">
            <svg class="social-icon">
              <use href="./images/icons/sprite.svg#icon-vkontakte"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-list-item">
          <a href="#">
            <svg class="social-icon">
              <use href="./images/icons/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-list-item">
          <a href="#">
            <svg class="social-icon">
              <use href="./images/icons/sprite.svg#icon-whatsapp"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="work-time-list">
        <li class="work-time-item">
          <svg class="social-icon">
            <use href="./images/icons/sprite.svg#icon-clock"></use>
          </svg>
          <p class="work-time-title">Режим работы</p>
        </li>
        <li class="work-time-item">
          <p class="work-time-clock">ПН-ПТ с 07:00 до 24:00 Сб, ВС: с 07:00 до 24:00</p>
        </li>
      </ul>
      <ul class="header-call-list">
        <li class="header-call-item">
          <a href="tel:+74957556983" class="header-contact-link">
            <svg class="header-tell-icon">
              <use href="./images/icons/sprite.svg#icon-telephone"></use>
            </svg>
            +7(495) 755 69 83</a
          >
        </li>
        <li>
          <button type="button">Заказать звонок</button>
        </li>
      </ul>
    </header>
  </div>
</section>
