<section class="hero">
  <div class="container">
    <nav class="hero-nav">
      <ul class="nav-items">
        <li class="nav-item"><a class="nav-link current" href="">Главная</a></li>
        <li class="nav-item"><a class="nav-link" href="">Услуги и цены</a></li>
        <li class="nav-item"><a class="nav-link" href="">Гарантия</a></li>
        <li class="nav-item"><a class="nav-link" href="">Юр.лица</a></li>
        <li class="nav-item"><a class="nav-link" href="">Контакты</a></li>
        <li class="nav-item"><a class="nav-link" href="">Вопрос-ответ</a></li>
        <li class="nav-item"><a class="nav-link" href="">Полезная информация</a></li>
      </ul>
    </nav>
    <h1 class="hero-title">Ремонт стиральных машин в Москве</h1>
    <ul class="hero-items">
      <li class="hero-list">Отличные цены на запчасти</li>
      <li class="hero-list">Фирменная гарантия на все работы</li>
      <li class="hero-list">Ремонт в день обращения</li>
    </ul>
    <button type="button" class="button hero-button">Заказать ремонт</button>
  </div>
</section>