<section>
        <h2>Стоимость услуг</h2>
        <h3>Диагностика</h3>
        <ul>
          <li><p>Диагностика при последующем ремонте</p></li>
          <li><p>Диагностика без последующего ремонта</p></li>
        </ul>
        <h3>Цены на ремонт</h3>
        <ul>
          <li>
            <p>Течет стиральная машина</p>
            <p>Ремонт от 100 руб.</p>
            <button type="button">Заказать мастера</button>
          </li>
          <li>
            <p>Не открывается люк</p>
            <p>Ремонт от 120 руб.</p>
            <button type="button">Заказать мастера</button>
          </li>
          <li>
            <p>Не греет воду</p>
            <p>Ремонт от 300 руб.</p>
            <button type="button">Заказать мастера</button>
          </li>
          <li>
            <p>Стиральная машина не отжимает</p>
            <p>Ремонт от 250 руб.</p>
            <button type="button">Заказать мастера</button>
          </li>
          <li>
            <p>Не работает слив в стиральной машине</p>
            <p>Ремонт от 500 руб.</p>
            <button type="button">Заказать мастера</button>
          </li>
          <li>
            <p>Не вращается барабан</p>
            <p>Ремонт от 800 руб.</p>
            <button type="button">Заказать мастера</button>
          </li>
          <li><a href="">Подробные цены на ремонт стиральных машин</a></li>
        </ul>
      </section>