<section class="section">
  <div class="container">
    <h2 class="reviews-title">ОТЗЫВЫ НАШИХ КЛИЕНТОВ</h2>
    <p class="reviews-text">Наши клиенты всегда остаются довольны нашими услугами!<br> Лучше всего они скажут об этом
      сами!</p>
    <div class="reviews-slider">
      <div class="review-box">
        <ul class="reviewer">
          <li class="reviwer-item">
            <img class="reviewer-icon" src="./images/elizaveta.jpg" width="86" height="86" alt="девушка под пальмой">
          </li>
          <li class="reviwer-item">
            <h3 class="reviewer-title">Елизавета</h3>

            <h3 class="reviewer-data">18 января 2021</h3>
          </li>
          <li>
            <img src="./images/vk.jpg" width="42px" height="42px" alt="вконтакте">
          </li>
          <li>
            <img src="./images/facebook.jpg" width="42px" height="42px" alt="фейсбук">
          </li>

        </ul>
        <p class="review-text">Идейные соображения высшего порядка, а также реализация намеченных плановых заданий
          обеспечивает широкому кругу
          (специалистов) участие в формировании направлений прогрессивного развития.</p>
      </div>
      <div class="review-box">
        <ul class="reviewer">
          <li class="reviwer-item">
            <img class="reviewer-icon" src="./images/oleksandr.jpg" width="86" height="86" alt="девушка под пальмой">
          </li>
          <li class="reviwer-item">
            <h3 class="reviewer-title">Олександр</h3>

            <h3 class="reviewer-data">18 января 2021</h3>
          </li>
          <li>
            <img src="./images/vk.jpg" width="42px" height="42px" alt="вконтакте">
          </li>
          <li>
            <img src="./images/facebook.jpg" width="42px" height="42px" alt="фейсбук">
          </li>

        </ul>
        <p class="review-text">Идейные соображения высшего порядка, а также реализация намеченных плановых заданий
          обеспечивает широкому кругу
          (специалистов) участие в формировании направлений прогрессивного развития.</p>
      </div>
      <div class="review-box">
        <ul class="reviewer">
          <li class="reviwer-item">
            <img class="reviewer-icon" src="./images/maria.jpg" width="86" height="86" alt="девушка под пальмой">
          </li>
          <li class="reviwer-item">
            <h3 class="reviewer-title">Мария</h3>

            <h3 class="reviewer-data">18 января 2021</h3>
          </li>
          <li>
            <img src="./images/vk.jpg" width="42px" height="42px" alt="вконтакте">
          </li>
          <li>
            <img src="./images/facebook.jpg" width="42px" height="42px" alt="фейсбук">
          </li>

        </ul>
        <p class="review-text">Идейные соображения высшего порядка, а также реализация намеченных плановых заданий
          обеспечивает широкому кругу
          (специалистов) участие в формировании направлений прогрессивного развития.</p>
      </div>

    </div>
  </div>

</section>