<section>
        <div class="container">
          <h2>
            ВЫПОЛНЯЕМ СРОЧНЫЙ РЕМОНТ ПОЛОМКИ, КОТОРЫЕ МАСТЕР УСТРАНИТ ЗА 25
            МИНУТ
          </h2>
          <ul>
            <li>Не включается стиральная машина</li>
            <li>Течет стиральная машина</li>
            <li>Не открывается дверка</li>
            <li>Не работает отжим в машинке</li>
            <li>Не завершает процесс стирки</li>
          </ul>
          <img src="" alt="" />
        </div>
      </section>